:root {
  --body-background-color: #08050C;
  --body-text-color: #ffffff;
  --card-background-color: #161618;
  --card-border-color: #262629
  --nav-background-color: #161618;
  --nav-border-bottom-color: #262629;
}
